*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans",sans-serif;
}

html,body{
	width: 100%;
	height: 100%;
}

/* classes auxiliares */

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.clear{
	clear: both;
}

.layer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}

header{
	position: relative;
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	min-height: 700px;
}

.nav-parent{
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.75);
}

header .center{
	position: relative;
	z-index: 2;
}


.logo{
	float: left;
	display: block;
	width: 80px;
	height: 80px;
	background-image: url('../images/logo.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.menu-mobile{
	font-size: 32px;
	color: #263238;
	float: right;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	margin-top: 25px;
	display: none;
}

.menu-mobile-content{
	height: 100%;
	width: 0;
	position: fixed;
	z-index:3;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.closeBtn{
	color: #818181;
	font-size: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.closeBtn:hover{
	color: #fff;
}

.menu-mobile-content ul{
	list-style-type: none;
}

.menu-mobile-content li{
	text-align: center;
	padding: 10px 2%;
}

.menu-mobile-content li a{
	text-decoration: none;
	color: #818181;
	display: block;
	font-size: 30px;
}

.menu-mobile-content a:hover{
	color: #fff;
}

nav{
	margin-top: 25px;
	float: right;
}

nav ul{
	list-style: none;
}

nav ul li{
	padding: 0 20px;
	float: left;
}

nav a{
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-weight: normal;
}

.conteudo-header{
	padding-bottom: 2%;
	position: relative;
	z-index: 2;
	max-width: 700px;
	margin-top: 350px;
	margin-left: 50%;
	color: #fff;
}

.conteudo-header h2{
	font-weight: normal;
	font-size: 57px;
	font-style: italic;
}

.conteudo-header h2 > span{
	color:#000;
}

.conteudo-header p{
	color: #fff;
	margin-top: 19px;
	font-size: 16px;
	font-weight: lighter;
}

.conteudo-header a{
	display: block;
	width: 177px;
	height: 44px;
	background-color: #263238;
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin-top: 19px;
	line-height: 44px;
	border-radius: 22px;
	transition: 0.3s;
}

.conteudo-header a:hover{
	background-color: black;
}

.chamada-planos{
	width: 100%;
	text-align: center;
	padding: 27px 2%;
	background-color: black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.chamada-planos h2{
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	text-transform: uppercase;
}

.box-planos{
	padding: 40px 0;
}

.box-planos-parent{
	display: flex;
	flex-wrap: nowrap;
}

.box-planos-single{
	width: 33.3%;
	margin: 0 20px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 4px 6px 5px -2px rgba(0,0,0,0.95);
	-moz-box-shadow: 4px 6px 5px -2px rgba(0,0,0,0.95);
	box-shadow: 4px 6px 5px -2px rgba(0,0,0,0.95);
}

.pontos-plano{
	padding: 40px 2%;
	border-bottom: 1px solid #263238;
}

.preco-plano a{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 160px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-weight: normal;
	background-color:black;
	text-decoration: none;
	margin-top: 20px;
	border: none;
}

.preco-plano a:hover{
	background-color: #263238; 
}

.box-planos-single h2{
	background-color: #263238;
	color: #fff;
	padding: 12px 3px;
	font-weight: lighter;
	font-size: 25px;
	text-align: center;
}

.box-planos-single p i{
	padding-right: 5px;
}

.box-planos-single p{
	margin-left: 8px;
	margin-top: 8px;
	padding: 0 5px;
	color: #777777;
	font-size: 17px;
}

.preco-plano{
	padding: 20px 0;
	text-align: center;
}

.preco-plano p{
	font-size: 25px;
	font-weight: normal;
	color: #000;
}
.overlay-sobre{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}
.espaco{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	padding: 30px 1% 30px 1%;
}

.espaco-title h2{
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: normal;
	color:#263238; 
	text-align: center;
	font-weight: bold;
}

.img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}


.fotos-parent{
	width: 100%;
	padding-top: 20px;
}

.foto-single{
	width: calc(100% / 6);
	float: left;
}

.img-foto-single{
	position: relative;
	cursor: pointer;
	width: 120%;
	padding-top: 95%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	border-right: 2px solid #263238;
	border-left: 2px solid #263238;
}

section.section-sobre{
	margin-top: 20px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	padding: 30px 1% 30px 1%;
}

.section-sobre .center{
	padding-bottom: 70px;
}

.section-sobre .center > h2{
	text-transform: uppercase;
	font-size: 24px;
	color:#263238; 
	text-align: center;
	font-weight: bold;
}

.line-h2{
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	height: 3px;
	background-color: #006064;
}


.section-sobre .sobre-flex{
	margin-top: 40px;
	display: flex;
	flex-wrap: nowrap;
}

.section-sobre .flex{
	margin: 0 20px;
	width: 50%;
}

.img-flex{
	width: 100%;
	padding-top: 100%;
	background-image: url('../images/flex.png');
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.sobre-single{
	padding: 20px 0;
}

.sobre-single p{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	color:#eceff1;
	text-align: right;
}

.line-single{
	padding:30px 30px 30px 0;
	width: 100%;
}

.bg-1{
	background-color: #f4511e;
}

.bg-2{
	background-color: #ffa000;
}

.bg-3{
	background-color:#4a148c;
}

.bg-4{
	background-color: #1a237e;
}

.bg-5{
	background-color: #004d40 ;
}


.final-section{
	padding: 70px 0;
}

.final-section .center{
	max-width: 1480px;
}

.flex-container{
	display: flex;
	flex-wrap: nowrap;
}

.w50{
	width: 50%;
	padding: 8px 1%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	margin: 0 10px;
}

.form h2{
	text-transform: uppercase;
	font-size: 22px;
	color: black;
	font-weight: lighter;
}

.form form p{
	margin-top: 3px;
	color: black;
	font-weight: lighter;
	font-size: 16px;
}

.form input[type=text]{
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
	width: 95%;
	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
}

.form input[type=submit]{
	display: block;
	width: 170px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: none;
	outline: none;
	color:#fff;
	font-size: 18px;
	margin-top: 18px;
	background-color: #263238;
	cursor: pointer;
}

.equipe{
	padding: 20px;
}

.equipe > h2{
	text-transform: uppercase;
	font-size: 22px;
	color: black;
	font-weight: lighter;
	margin-bottom: 20px;
}

.row{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.team{
	width: 50%;
	padding: 20px 10px;
	-webkit-box-shadow: 3px 3px 9px -1px rgba(0,0,0,0.57);
	-moz-box-shadow: 3px 3px 9px -1px rgba(0,0,0,0.57);
	box-shadow: 3px 3px 9px -1px rgba(0,0,0,0.57);
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.img-team{
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: #ccc;
	float: left;
	margin-top: -5px;
}

.nome{
	color: black;
	float: left;
	margin-left: 20px;
}

.team p{
	font-size: 13px;
	color: #111;
}

.nome p{
	color: black;
	font-weight: lighter;
	font-size: 14px;
}

.nome-texto{
	padding: 5px 5px;
}

footer{
	padding: 20px 0;
	background-color: #111;
}

footer nav{
	display: block;
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer ul li{
	float: left;
	margin-top: -15px;
}

footer a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
}

footer p{
	display: block;
	float: right;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}

@media screen and (max-width: 1180px){
	.flex-container{
		display: flex;
		flex-wrap: wrap;
	}

	.w50{
		width: 100%;
		padding: 8px 1%;
	}

	.w50:nth-of-type(2){
		margin-top: 30px;
	}

	.form{
		padding: 30px 2%;
	}

}

@media screen and (max-width: 1480px){
	.conteudo-header{
		margin-top: 300px;
		margin-left:500px;
	}
}

@media screen and (max-width: 1280px){
	.conteudo-header{
		max-width: 600px;
		margin:300px auto;
	}
	.conteudo-header h2{
		font-size: 48px;
	}

	.conteudo-header p{
		color: #fff;
		margin-top: 19px;
		font-size: 14px;
	}
}

@media screen and (max-width: 1050px){
	.pontos-plano p{
		font-size: 15px;
	}
	.box-planos-single{
		margin: 0 10px;
	}

	.section-sobre .sobre-flex{
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.section-sobre .flex{
		text-align: center;
		margin: 0;
		width: 100%;
	}

	.img-flex{
		display: inline-block;
		width:80%;
		padding-top: 80%;
		background-image: url('../images/flex.png');
		background-size: contain;
		background-position: right;
		background-repeat: no-repeat;
	}

	.line-single{
		padding:30px 30px 30px 0;
		width: 100%;
	}


}

@media screen and (max-width: 768px){

	.menu-mobile{
		display: block;
	}

	header nav{
		display: none;
	}

	.conteudo-header{
		padding: 0 2%;
	}
	.conteudo-header h2{
		font-size: 40px;
	}

	.conteudo-header p{
		font-size: 12px;
	}

	.box-planos-parent{
		display: flex;
		flex-wrap: wrap;
	}

	.box-planos-single{
		margin-top: 20px;
		width: 100%;
		flex-direction: column;
	}

	.pontos-plano p{
		font-size: 20px;
	}

	.sobre p{
		font-size: 15px;
	}

	.preco-plano a{
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 300px;
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-weight: normal;
		background-color:black;
		text-decoration: none;
		margin-top: 20px;
	}
	
}


@media screen and (max-width: 580px){

	.conteudo-header{
		padding: 0 4%;
		margin: 200px auto;
	}
	.conteudo-header h2{
		font-size: 32px;
	}

	.row{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.team{
		width: 100%;
	}

	footer nav{
		display: block;
		float: none;
		width: 100%;
	}

	footer ul li{
		float: none;
		padding:10px 0;
	}

	footer a{
		font-size: 20px;
		font-weight: normal;
	}

	footer p{
		float: none;
		display: block;
		width: 100%;
		font-size: 20px;
		font-weight: normal;
		margin-top: 10px;
	}

	.img-flex{
		width:100%;
		padding-top: 100%;
	}

}


@media screen and (max-height: 690px){
	.conteudo-header{
		margin-top: 150px;
	}
}